<div class="col-md-12">
    <% var bookInfo = {
                name: "",
                author: "",
                year: "",
                pages: ""
            };
    var bookJS = book;
        var bookJP = JSON.parse(bookJS);
    console.log("=="+bookJP);
    if (bookJP) {
        console.log("error");
        bookInfo.author = bookJP.author;
        bookInfo.name = bookJP.name;
        bookInfo.year = bookJP.year;
        bookInfo.pages = bookJP.pages;
    }
    %>
    <h4>Добавить новую книгу</h4>
    <% if(page === "addBook"){ %>
    <form action="/book/add" method="post">
        <% } else if(page === "updateBook"){ %>
        <form action="/book/update/<%= bookJP ? bookJP.id : "";%>" method="post">
            <% } %>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Название книги</label>
                    <input type="text" name="name" placeholder="Введите название книги" value="<%= bookInfo.name; %>"
                           class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="author">Автор</label>
                    <input type="text" name="author" placeholder="Введите автора книги" value="<%= bookInfo.author; %>"
                           class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="year">Год издания</label>
                    <input type="text" name="year" placeholder="Введите год издания" value="<%= bookInfo.year; %>"
                           class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="pages">Введите количество страниц</label>
                    <input type="text" name="pages" placeholder="Укажите количество страниц"
                           value="<%= bookInfo.pages; %>" class="form-control" required>
                </div>
            </div>
            <div class="modal-footer">
                <% if(page === "addBook"){ %>
                <input type="submit" class="btn btn-success" value="Создать">
                <% } else if(page === "updateBook"){ %>
                <input type="submit" class="btn btn-success" value="Обновить">
                <a href="/book/delete/<%= bookJP ? bookJP.id : "";%>" class="btn btn-danger" data-dismiss="modal">Удалить</a>
                <% } %>
                <a href="/" class="btn btn-danger" data-dismiss="modal">Отмена</a>

            </div>
            <% if (msg){ %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% msg.forEach((ms) =>{ %>
                    <li class="item"><%= ms; %></li>
                    <% }) %>
                </ul>
            </div>
            <% } %>
        </form>
</div>
