<div class="container">
    <h1>Книги</h1>
    <a id="btn-add-user" class="btn btn-success pull-right" href="/book/add">Добавить новую книгу</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Автор</td>
            <td>Год</td>
            <td>Страниц</td>
        </tr>
        </thead>
        <tbody>
        <%data.forEach(function(item) {%>
        <tr>
            <td><%=data.indexOf(item) + 1;%></td>
            <td><%=item.name;%></td>
            <td><%=item.author;%></td>
            <td><%=item.year;%></td>
            <td><%=item.pages;%></td>
            <td><a href="book/update/<%=item.id;%>">Редактировать</a></td>
        </tr>
        <%});%>
        </tbody>
    </table>

</div>